.numberSelector {
  --x: 5vw;
  background-color: #282c34;
  border: 2px rgb(56, 125, 204) solid;
  border-radius: 100%;
  margin: 5px;
  width: var(--x);
  height: var(--x);
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
  transition: 0.2s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .numberSelector {
    --x: 10vw;
    border-radius: 10%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .text {
    font-size: 6vw !important;
    line-height: 6vw;
  }
}
.text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  line-height: 4.5vw;
  font-weight: 600;
  color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.numberSelector:hover {
  background-color: rgb(56, 125, 204);
  cursor: pointer;
}
/* this is for the styling of the tooltip */
.numberSelector > div > div {
  height: 1vw;
  margin-top: 0px;
  line-height: 1vw;
  font-size: 10px;
}
