.oneRow {
  display: flex;
  justify-content: center;
  margin: auto;
}
.vLine {
  position: relative;
  width: 3px;
  height: 4.3vw;
  background-color: rgb(19, 97, 243);
}
@media only screen and (max-width: 600px) {
  .vLine {
    height: 9.9vw;
  }
}
