.singleBox {
  --x: 5.5%;
  background-color: #2f333b;
  border-radius: 2px;
  width: var(--x);
  padding-top: var(--x);
  margin: 1px;
  position: relative;
  transition: 0.3s linear all;
  /* clip-path: circle(70% at 50% 50%); */
}
@media only screen and (max-width: 600px) {
  .singleBox {
    --x: 8.5%;
  }
  .text1 {
    font-size: 6vw !important;
    line-height: 8vw !important;
  }
}
.singleBox:hover {
  background-color: rgb(100, 100, 100);
}
.singleBox:active {
  background-color: rgb(75, 75, 75);
}
.disabledBox {
  background-color: rgb(59, 59, 59);
  transition: 0.2s ease-in;
  pointer-events: none;
  border-radius: 5px;
  /* animation: circle 0.3s cubic-bezier(0.41, 0.51, 0.24, 1.82) forwards; */
}
.dangerBox:hover {
  cursor: -webkit-grab;
}
.selectedBox {
  background-color: rgb(45, 111, 235);
  transition: 0.2s ease-in;
  animation: circle 0.2s cubic-bezier(0.41, 0.51, 0.24, 2.82) forwards;
}
@keyframes circle {
  0% {
    clip-path: circle(70% at 50% 50%);
  }
  100% {
    clip-path: circle(45% at 50% 50%);
  }
}
.selectedBox:hover {
  background-color: rgb(38, 81, 199);
}
.text1 {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-size: 3vw;
  line-height: 3.5vw;
  font-weight: 300;
  color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.text1:hover {
  cursor: pointer;
}
.similarBox {
  background-color: rgb(76, 83, 50);
  transition: 0.2s ease-in;
  animation: circle 0.3s cubic-bezier(0.41, 0.51, 0.24, 1.82) forwards;
}
.similarBox:hover {
  background-color: rgb(57, 61, 41);
}
.dangerBox {
  background-color: rgb(141, 45, 45);
  transition: 0.2s ease-in;
  animation: circle 0.3s cubic-bezier(0.41, 0.51, 0.24, 1.82) forwards;
}
.dangerBox:hover {
  background-color: rgb(83, 27, 27);
}
