.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.appHeader {
  display: flex;
  justify-content: center;
}
.mainGame {
  display: grid;
  grid-template-columns: 60% 40%;
}
@media only screen and (max-width: 600px) {
  .mainGame {
    grid-template-columns: repeat(1, 1fr);
  }
}
h1.title {
  color: white;
  font-size: 4vw;
  padding: 0px;
  margin: 0px;
}
.App-logo {
  height: 10vmin;
  width: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  h1.title {
    font-size: 10vw;
  }
}

/* .App-link {
  color: #61dafb;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
